<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.shashidharybhat.saamagaana03">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/saamalogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".My_Events"
            android:parentActivityName=".Landing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Landing" />
        </activity>


        <activity
            android:name=".About"
            android:parentActivityName=".Landing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Landing" />
        </activity>


        <activity
            android:name=".Listener_corner"
            android:parentActivityName=".Landing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Landing" />
        </activity>

        <activity
            android:name=".Landing"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Download_Files"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Landing"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Landing" />
        </activity>


        <activity
            android:name=".Varnas"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".Abhyasagaana"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".Krithis"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".Swarajatis"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".Abhyasa_pdf1"
            android:parentActivityName=".Abhyasagaana">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Abhyasagaana" />
        </activity>


    </application>

</manifest>